body {
    display: flex ;
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden  ;
}

.sidebarleft {
    background-color: aliceblue;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
    display: flex ;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
    touch-action: manipulation; /* Bloque le pinch-zoom sur la sidebar */
    user-select: none; /* Empêche la sélection */
}



.main-content {
    flex-grow: 1;
    transition: margin-left 0.5s ease;
    position: relative;
    z-index: 0;
}

.main-content canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}



#myChart {
        width: 100%;
        height: 100%;
    }

#pixi-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: hidden;
    touch-action: pinch-zoom; /* Autorise le pinch-zoom sur le canvas */

    }

