<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>interface to catart, map grains</title>
    <script src="/static/socket.io.min.js"></script>
    <script src="/static/NexusUI.js"></script>
    <script src="/static/pixi.min.js"></script>
  
    <link rel="stylesheet" href="/static/style.css">
   
  </head>

  <body>

<div class="sidebarleft" id="sidebarleft">
    <button id="fullscreen-btn">Full screen</button>
    <button id="delete-log">Supprimer le fichier log</button>
    <button id="ask-points">Demander les points</button>
    <button id="audio-toggle">Démarrer l'audio</button>

    <p>ZOOM:</p>
    <div id="multisliderLeft"></div>
</div>

<div class="sidebarright" id="sidebarright">
    <p>Effect settings:</p>
    <div id="multisliderRight"></div>
</div>

<div class="main-content">
    <button id="toggle-left">toggle-left</button>
    <button id="toggle-right">toggle-right</button>
    <div id="pixi-container"></div> 
</div>

<script src = "/static/script.js"></script>;
  </body>
</html>